@import '~mt-ui/lib/style.less';

.excel-dropzone__label {
  text-align: center;
  padding-top: 90px;
}

.dropped-file-results {
  float: left;
}

.startup-results {
  float: left;
}

/* -------- Form ---------------- */
.form {
  margin-top: 10px;
}
.form-input {
  width: 175px;
}

.form-items {
  background-color: lightblue;
  border: 1px solid black;
  margin: 0px 15px;
  padding: 15px 15px;
}

.btn-secondary {
  margin-left: 2em;
  margin-top: 10px;
  margin-left: 3em;
  background-color: aquamarine;
}
/*-------------- Edit Data Form  ---------------- */
.u-full-width {
  width: 160px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
}
.button-primary {
  margin-left: 6em;
}
