@import '~mt-ui/lib/style.less';

* {
  padding: 0;
  margin-left: 10px;
}
.excel-dropzone__label {
  text-align: center;
  padding-top: 90px;
}

.dropped-file-results {
  float: left;
}

.startup-results {
  float: left;
}

/*----------------- Media Queries --------------------- */
@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
}
/*----------- mobile ------------------ */
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .startup-results {
    width: 70%;
  }
  .results {
    font-size: 1.3rem;
    width: 100%;
  }
  .dropped-file-results {
    display: grid;
  }
  .container {
    display: block;
    //width: 100%;
    align-self: center;
    align-items: center;
    align-content: center;
  }
  .button-primary {
    margin-left: 6px;
    width: 10rem;
    margin-right: 5px;
    font-size: 1rem;
  }
  .mt-row.mt-row--stretch {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .mt-row {
    display: block;
    padding: 0px;
    //width: 40%;
    flex-direction: row;
    margin-left: -1rem;
    font-size: 1.1em;
    width: calc(100% + 1rem);
    align-self: center;
  }
  .startup-scores,
  h1 {
    max-width: 30%;
    margin-left: 0px;
    align-self: center;
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    width: 30%;
    margin-bottom: inherit;
  }
}
